body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body{
  background-color: #22254b;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

.movie-container{
  
  display: flex;
  flex-wrap: wrap;

}

.movie{
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px, 3px, 5px rgba(0,0,0, 0.1);
  overflow: hidden;
  position: relative;
  width: 300px;
  margin: 1rem;
}

.movie img {
  max-width: 100%;
  cursor: pointer;
}

.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3{
  margin: 0;
}

.movie-over{
  background-color: white;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over{
  transform: translate(0%);
  cursor: pointer;
}

header{
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.search{
  font-family: inherit;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid, #22254b;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.root{
  display: flex;
  flex-direction: column;
  
}